<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Channel Predictor</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>

	<body>
	<center>
	<h1>Channel Predictor</h1>
	<br>
	<h2>Predicted channel: {{ pred }}</h2>
	<h2>Real channel: {{ real }}</h2>
	<br>
	<br>
	<img src="{{ url_for('static', filename='YT_logo.png') }}" alt="YouTube.jpg" height="300" width="300">
	</center>

	</body>
</html>