{% extends 'layout.html' %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YouTube Predictor Room</title>
	
	</head>

	<body>
	<center>
	<h1>YouTube Predictor Room</h1>
	
	<fieldset >
	<form action="/services" method="POST">
		<center>
		<h3>Insert the url <input type="text" name="url" placeholder="url">
		<br>
		Insert the number of dislikes <input type="text" name="dislikes" placeholder="dislikes">
		<br>
		<br>
		<button type="submit">
			submit
		</h3>
		<br>
		<br>
		<br>
		
		</center>

	</form>
	</fieldset>

	<img src="{{ url_for('static', filename='YT_logo.png') }}" alt="YouTube.jpg" height="300" width="300">

	</body>
</html>








